body{
    background-color: rgba(40, 199, 98, 0.757);
    color: rgb(206, 16, 16);
    margin: 5px;
    padding: 2px;
}
header,
footer {
    text-align: center;
    background-color: rgb(65, 49, 92);
}